@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slider {
  display: flex !important;
    flex-direction: column !important;
    gap: 8px !important;
}

.slick-dots {
  display: flex !important;
  justify-content: center !important;
  position: relative !important;
  bottom: 0 !important;
  li {
    flex-grow: 1 !important; 
    width: 80px !important;
    height: 80px !important;
  }
}

.MuiSelect-select {
  padding: 8px !important;
  color: #101D62;
}

.MuiButtonBase-root {
  /* padding: 0 !important; */
  height: 40px;
}

.MuiAccordionSummary-root {
    padding: 0 !important;
}

.MuiAccordionDetails-root {
  padding: 0 !important;
  color: #101D62 !important;
  font-size: 14px !important;
  font-weight: 700 !important;
}